<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @url.link %>
</p>

<p>
  <b>Short link:</b>
  <%= @url.short_link %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
